<% provide(:title, 'Admin Page') %>
<div class="form-wrapper">
<h1>Admin</h1>
<ul>
	<li><%= link_to "Create Forum", new_forum_path %></li>
	<li><%= link_to "View Forums", forums_path %></li>
	<li><%= link_to "Create Subforum", new_subforum_path %></li>
	<li><%= link_to "View Subforums", subforums_path %></li>
	<li><%= link_to "View Pictures", pictures_path %></li>
</ul>
</div>




