

<div class="flex-column">
	<h2 class="flex-column-element"> Welcome to the Planetside division of the Negus Gaming Clan. </h2>

	<div class="flex-column-element">
		<%= link_to "Visit the Forums", forum_subforums_path(@forum.id), class: "btn btn-md btn-primary" %>
	</div>

	<div class="flex-column-element">
		<div class = "frontposts">
			<h2>Recent Posts</h2> <hr />
			<% @trending_posts.order("created_at DESC").each do |post| %>
				<strong><%= link_to post.postname, post%></strong>
				<p><%= post.content%> Posted: <%= distance_of_time_in_words_to_now post.created_at%></p>
				<hr />
			<%end%>
		</div>
	</div>

	<div class="flex-column-element">
		<div class = "frontposts">
			<h2>Trending Posts</h2> <hr />
			<% @trending_posts.each do |post| %>
				<strong><%= link_to post.postname, post%></strong>
				<p><%= post.content%> Posted: <%= distance_of_time_in_words_to_now post.created_at%></p>
				<hr />
			<%end%>
		</div>
	</div>
</div>
