<% provide(:title, @forum.forumname) %>
<div class="row">
  <aside class="col-md-4">
    <section class="forum_info">
      <h1>
        <%= @forum.forumname %>
        <% if logged_in? && current_user.admin? %>
        <%= link_to "Create Subforum", new_forum_subforum_path(@forum) %>
        <% end %>
      </h1>
      
      <table class="forum_table">
			  <thead>
			    <tr>
			      <th>Subforum</th>
			      <th>Newest Post</th>
			      <th></th>
			      <th colspan="3"></th>
			    </tr>
			  </thead>
			
			  <tbody>
			  	<% @forum.subforums.each do |subforum| %>
					  	<tr class= "<%= cycle('list_line_odd', 'list_line_even')%>">
				        <td class="subforum">
				        	<%= link_to subforum.subforumname, subforum_path(subforum) %>
				        	
				        </td>
				        <td class="newest_post">
					        	<% newest_post = subforum.most_recent_post%>
					        	<%if !newest_post.nil?%>
					        		<%= link_to newest_post.postname, newest_post%>
					        		by <%= link_to newest_post.user.name%>
					        		<%= distance_of_time_in_words_to_now newest_post.created_at %> ago
					        	<%else%>
					        		<%= "No posts yet"%>
					        	<%end%>
				        </td>
				        
				        <td class="misc">
				        	<% if logged_in? && current_user.admin? %>
					      		<%= link_to 'Edit', edit_subforum_path(subforum) %>
						    		<%= link_to 'Destroy', subforum, method: :delete, data: { confirm: 'Are you sure?' } %>     	
					      	<%end%>
				        </td>
				      </tr>
					<%end%>
			  </tbody>
			</table>  
      
    </section>
  </aside>
</div>


