<div class="flex-row-container bordered">
	<div class="flex-row-element commenter">
		<%if comment.user.avatar%>
			<%= image_tag(comment.user.avatar.displaypic.url(:small), alt: 'User DP')%>
		<%else%>
			<%= image_tag('no_image_icon.jpg', alt: 'No DP', width: 64, height: 64)%>
		<%end%> <br />
		<%= link_to comment.user.name, comment.user %>
	</div>

	<div class="flex-row-element comment">
		<%= comment.comment_content %>
	</div>

	<div class="flex-row-element">
		<% if logged_in? && (current_user.id == comment.user_id || current_user.admin?) %>
			<%= link_to edit_comment_path(comment) do%>
				<span class="glyphicon glyphicon-pencil"></span>
			<%end%>
			<%= link_to comment, method: :delete, data: { confirm: 'Are you sure?' } do%>
				<span class="glyphicon glyphicon-remove"></span>
			<%end%>
		<%end%>

		<%= link_to quote_comment_path(comment), remote: true do%>
			<span class="glyphicon glyphicon-link"></span>
		<%end%>

		<div id=<%= "comment-like-button-#{comment.id}" -%> class="like-button">
		 	<% if logged_in? && !(user_has_liked_entry(comment.id, "Comment"))%>

				<%= form_for like, remote: true do |f| %>
		 			<%= f.hidden_field :likeable_id, :value => comment.id %>
		 			<%= f.hidden_field :likeable_type, :value => Comment %>
					<%= f.hidden_field :user_id, :value => current_user.id%>
					<%= button_tag(type: 'submit', class: "transparent", id: 'like-submit') do %>
					  <span class="glyphicon glyphicon-thumbs-up"></span>
					<% end %>
		 		<%end%>

		 	<%elsif user_has_liked_entry(comment.id, "Comment") == true%>
		 		<%= link_to find_like(comment.id, "Comment"), method: :delete, remote: true do %>
					<span class="glyphicon glyphicon-thumbs-down"></span>
				<%end%>
		 	<%end%>
		</div>

		<div id=<%="comment-#{comment.id}-score"%> class="score">
			Score: <%=get_score(comment.id, "Comment")%>
		</div>

		<div class="likers">
		 <%if logged_in?%>
			 <div id=<%= "comment-#{comment.id}-likers" -%> class="hide">
			 			Liked by:
			 			<%comment.likes.each do |like|%>
							<%= link_to like.user.name, like.user%>
							<%= "| " unless like == comment.likes.last%>
						<%end%>
			 </div>
		 <%end%>
		</div>
	</div>
</div>
