<tr>
	<td class="user_info">
		<div class="commenter">
			<% comment_user = comment.user%>
			<%if comment_user.avatar%>
		  	<%= image_tag(comment_user.avatar.displaypic.url(:med), alt: 'User DP')%>
		  <%else%>
		  	<%= image_tag('no_image_icon.jpg', alt: 'No DP')%>
		  <%end%> <br />
			<%= link_to comment_user.name, comment_user %>
		</div>
	</td>
	
	<td>
		<div class="comment">
			<%= comment.comment_content %>
			
			<% if logged_in? && (current_user.id == comment.user_id || current_user.admin?) %>
				<%= link_to 'Edit', edit_comment_path(comment)%>
				<%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' }%>
		  <%end%>
	  </div>
	</td>
	
	<td>
			<div id=<%= "comment-like-button-#{comment.id}" -%> class="like-button">	 		
			 	<% if logged_in? && (user_has_liked_entry(comment.id, "Comment") == false)%>
			 		<%= form_for like, remote: true, class: 'like-form' do |f| %>
			 			<%= f.hidden_field :likeable_id, :value => comment.id %>
			 			<%= f.hidden_field :likeable_type, :value => Comment %>
		  			<%= f.hidden_field :user_id, :value => current_user.id%>
		  			<%= f.submit "Like", class: "btn btn-primary btn-sm" %>
			 		<%end%>
			 	<%elsif user_has_liked_entry(comment.id, "Comment") == true%>
			 		<%= button_to 'Unlike', find_like(comment.id, "Comment"), method: :delete, 
			 		remote: true, class: 'btn btn-default btn-sm' %>
			 	<%end%>
		 </div>
		 
		 <div id=<%="comment-#{comment.id}-score"%> class="score"> 
		 	Score: <%=get_score(comment.id, "Comment")%> 
		 </div>

		 
		 <div class="likers">  
			 <%if logged_in?%>
				 <div id=<%= "comment-#{comment.id}-likers" -%> class="hide">			
				 			Liked by:		
				 			<%comment.likes.each do |like|%>
								<%= link_to like.user.name, like.user%> 
								<%= "| " unless like == comment.likes.last%>
							<%end%>
				 </div>
			 <%end%>
		 </div>
	</td>
</tr>