
<div>
	<h1>Recent comments by <%=@user.name%></h1>

<table class="recent_posts_table">
  <thead>
    <tr>
      <th>Post</th>
      <th>Content</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  	<% @user_posts.order("created_at DESC").each do |post|%>
	  	<tr class= "<%= cycle('list_line_odd', 'list_line_even')%>">
        <td class="post"><%= link_to post.postname, post %></td>
        <td class="comment"><%= post.content %></td>
        <td class="created_at"><%= distance_of_time_in_words_to_now post.created_at %> ago</td>
      </tr>
		<%end%>
  </tbody>
</table>
	

</div>

<div class="flex-list">
	<div class="flex-list-element flex-post-row">
		<div class="flex-row-element"> Target </div>
		<div class="flex-row-element"> Comment </div>
		<div class="flex-row-element"> Date </div>
	</div>
	<% @user_comments.each do |comment|%>
		<div class="flex-list-element flex-post-row">
			<div class="flex-row-element"> <%= link_to comment.post.postname, comment.post %> </div>
			<div class="flex-row-element"> <%= comment.comment_content %> </div>
			<div class="flex-row-element"> <%= distance_of_time_in_words_to_now comment.created_at %> ago </div>
		</div>
	<%end%>
</div>
