<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
        <div class="user-avatar-img">
	        <%if @user.avatar%> 
	        	<% if current_user == @user%>
	        		<%= link_to (image_tag @user.avatar_displaypic.url(:med), alt: 'Edit DP'), edit_avatar_path(@avatar)%>
						<%else%>
	        		<%= link_to image_tag(@user.avatar_displaypic.url(:med), alt: 'Show DP'), @user.avatar_displaypic.url%>
	        	<%end%>
	        	
	        <%else%>
	        	<%if current_user == @user%>
	        		<%= link_to (image_tag 'no_image_icon.jpg', alt: 'New DP'), new_user_avatar_path(@user)%>
	        	<%else%>
	        		<%= image_tag 'no_image_icon.jpg', alt: 'No DP'%>
	        	<%end%>
	        <%end%> <br />
        </div>
        
        <h1><%= @user.name %></h1>
        
        <div class="friendship-options">
	        <%if @friendship %>
						<%if @friendship.accepted?%>
							<h2><%=button_to 'Unfriend', @friendship, method: :delete, 
								remote: true, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-sm' %>
							</h2>
						<%elsif current_user && current_user.id == @friendship.friended_id%>
							<h2><%= link_to 'Friend Request Pending', user_friendships_path(current_user.id), 
								class: "btn btn-primary btn-md"%></h2>
						<%else%>
							<h2>Friend Request Pending</h2>
						<%end%>
					<%else%>
						<div><%=render partial: 'friendships/new_friendship', 
		      		 locals: {friendship: Friendship.new, user: @user} unless @user == current_user%></div>
					<%end%>
				</div>
        
        <div>
	        <%= link_to 'Friends', user_friendships_path(@user), class: "btn btn-primary btn-sm"%>
	      	<%= link_to 'Pictures', user_pictures_path(@user), class: "btn btn-primary btn-sm"%>
	      	<%= link_to 'Notifications', user_notifications_path(@user), class: "btn btn-primary btn-sm"%>
	      	
	      	<p>Recent Activity:</p>
	      	<div class="user-nav">
	      	<input value="Posts" type="button" id="recent-posts-btn" class="btn btn-primary btn-sm"> <br />
					<input value="Comments" type="button" id="recent-comments-btn" class="btn btn-primary btn-sm"> <br />
					<input value="Likes" type="button" id="recent-likes-btn" class="btn btn-primary btn-sm">
      		</div>
      	</div>
    </section>
  </aside>
  <div class="col-md-9">
  	<div class="user-activity-view">
  		<div id="recent-posts" class="hide">
  			<% if @user_posts %> 
  				<%= render 'recent_posts'%>
  				<%= paginate @user_posts%>
  			<%end%>
  		</div>
  		<div id="recent-comments" class="hide">
  			<% if @user_comments %> 
  				<%= render 'recent_comments'%>
  				<%= paginate @user_comments%>
  			<%end%>
  		</div>
  		<div id="recent-likes" class="hide">
  			<% if @user_likes %> 
  				<%= render 'recent_likes'%>
  				<%= paginate @user_likes%>
  			<%end%>
  		</div>
		</div>
  </div>
</div>