<% provide(:title, "Edit #{@subforum.subforumname}") %>
<h2>Update the Subforum</h2>

<div class="form-wrapper">
  <%= form_for(@subforum) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="flex-column-element">
      <%= f.label :subforumname, 'New Subforum Name' %>
      <%= f.text_field :subforumname, class: 'form-control' %>
    </div>

    <div class="flex-column-element">
      <%= f.submit "Save Changes", class: "btn btn-primary" %>
    <div>
  <% end %>
</div>
