<% provide(:title, 'Create Subforum') %>
<h2>Create Subforum</h2>

<div class="form-wrapper">
  <%= form_for(@subforum) do |f| %>

	  <%= f.hidden_field :forum_id, :value => params[:forum_id] %>

	  <%= f.hidden_field :user_id, :value => current_user.id %>

    <div class="flex-column-element">
      <%= f.label :subforumname, 'Subforum Name' %>
      <%= f.text_field :subforumname, class: 'form-control' %>
    </div>

    <div class="flex-column-element">
      <%= f.label :admin_only, 'Admin Only?' %>
      <%= f.check_box :admin_only, checked: false, class: 'form-control'%>
    </div>

    <div class="flex-column-element">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
