<div class="subforum-flex-row flex-column-element">
	<div class="flex-row-element">
		<%= div_for(post) do %>
			<%if post.sticky == true%>
				<span class="glyphicon glyphicon-tag"></span>
			<%end%>
			<%= link_to post.postname, post_path(post), class: 'tooltips',
			title: "#{post.content}", data: { toggle: 'tooltip', placement: 'top'} %>
		<%end%>
	</div>

	<div class="flex-row-element">
		<div class="last_post">
  	  <%if post.comments.last%>
  	  	<div>By: <%= link_to post.comments.last.user_name, post.comments.last.user %>
  	    <%= distance_of_time_in_words_to_now post.comments.last.created_at%> ago</div>
	  	<%else%>
	  		No comments
	  	<%end%>
		</div>
		<div>
			Total Comments: <%= post.total_comments %> <br />
		</div>
	</div>

	<div class="flex-row-element">
		<div class="misc">
			<% if logged_in? && current_user.admin?%>
				<%#= button_to 'Toggle Sticky', post_toggle_path(post), class: "btn btn-default"%>
				<% if post.sticky == true%>
					<%=link_to post_sticky_path(post), {method: :post} do %>
						<span class="glyphicon glyphicon-heart"></span>
					<%end%>
				<% else%>
					<%=link_to post_sticky_path(post), {method: :post} do %>
						<span class="glyphicon glyphicon-heart-empty"></span>
					<%end%>
				<%end%>
			<%end%>

			<% if logged_in? && (current_user.admin? || (current_user == post.user)) %>
    	  <%#= button_to "Unsticky", unsticky_path %>
				<%=link_to edit_post_path(post) do %>
	        <span class="glyphicon glyphicon-pencil"></span>
	      <%end%>
				<%=link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
	        <span class="glyphicon glyphicon-remove"></span>
	      <%end%>
	  	<%end%>
	  </div>
	</div>
</div>
