<% provide(:title, "Edit #{@post.postname}") %>
<h2>Edit Your Post</h2>

<div class="form-wrapper">
  <%= form_for @post, :html => { :class => 'form-horizontal', multipart: true }  do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="flex-column-element">
      <%= f.label :postname, 'Post Name' %>
      <%= f.text_field :postname, class: 'form-control' %>
    </div>

    <div class="flex-column-element">
      <%= f.label :content, 'Content' %>
      <%= f.text_field :content, class: 'form-control' %>
    </div>

    <div class="flex-column-element">
      <%= f.label :pictures, class: 'control-label' %>
      <%= file_field_tag "images[]", type: :file, multiple: true, class: 'form-control' %>
    </div>

    <div class="flex-column-element">
      <%if current_user.admin?%>
      	<%= f.label :sticky, 'Sticky this post?'%>
      	<%= f.check_box :sticky%>
      	<br />
      <%end%>
    </div>

    <div class="flex-column-element">
      <%= f.submit "Save Changes", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
