
<% provide(:title, "#{@subforum.subforumname} Posts") %>


<h2>
	<%= link_to forum_subforums_path(@subforum.forum) do%>
		<span class="glyphicon glyphicon-arrow-left"></span>
	<%end%>
	<%= @subforum.subforumname%>
	<%if current_user && logged_in? %>
	<%if @subforum.id != 10 || current_user.admin?%>
		<%= link_to new_subforum_post_path(@subforum) do%>
			<span class="glyphicon glyphicon-plus"></span>
		<%end%>
	<%end%>
	<%end%>
</h2>


<div class="flex-column-container-centered">
	<div class="subforum-flex-row">
		<div class="flex-row-element">Title</div>
		<div class="flex-row-element">Last Comment</div>
		<div class="flex-row-element"></div>
	</div>

	<%= render @posts%>
	<%= paginate @posts%>
</div>


<div class="posts-wrapper">
	<%#@posts.each do |post|%>
			<%#= render post%>
	<%#end%>
</div>
